@model MVCBog.Models.ViewTwoModels

@{
    ViewBag.Title = "Направи обява";
}
<h2>Направи обява</h2>

@using (Html.BeginForm("Create", "Ads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <dt>Заглавие</dt> @Html.EditorFor(model => model.Ads.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ads.Title, "", new { @class = "text-danger" })@*})*@
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <dt>Текст на обявата</dt> @Html.EditorFor(model => model.Ads.Body, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Ads.Body, "", new {@class = "text-danger"})
            </div>
        </div>
        
        <div class="form-group">
            @*@Html.LabelFor(model => model.Image.BrandImage, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <dt>Качи снимка</dt> <input type="file" name="image1" id="image1" />
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Публикувай" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Върни се обратно", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

