@model MVCBog.Models.Ads
@{
    ViewBag.Title = "Изтрий обява";
}
<h2>Изтрий обявата</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Заглавие
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Текст на обявата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-default" /> |
            @Html.ActionLink("Върни се обратно", "Index")
        </div>
    }
</div>
