@model MVCBog.Models.Ads

@{
<<<<<<< HEAD:MVCBog/Views/Ads/Details.cshtml
    ViewBag.Title = "Виж повече";
=======
    ViewBag.Title = "Погледни повече";
>>>>>>> origin/master:MVCBog/Views/Ads/Details.cshtml
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Върни се обратно", "Index")
</p>
