@*@model MVCBog.Models.Image
@{
    ViewBag.Title = "Create";
}
<h2>Снимка</h2>

@using (Html.BeginForm("Create", "Ads", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Image</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.ImagePath)
        </div>
        <div class="editor-field">
            <input id="ImagePath" title="Upload a product image"
                   type="file" name="file" />
        </div>
        <p><input type="submit" value="Create" /></p>
    </fieldset>
}
<div>
    @Html.ActionLink("Върни се обратно", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
